@{
    ViewBag.Title = "Our Story";
}
<h2 id="about-heading">@ViewBag.Title</h2>

<div class="container" id="about-container">
    <p>
        Bacon ipsum dolor amet brisket burgdoggen pork chop bresaola prosciutto alcatra. Chicken rump pastrami meatloaf jowl capicola alcatra boudin. Short loin leberkas alcatra ribeye ham hock corned beef, pastrami burgdoggen spare ribs venison ball tip jowl. Ham pig shankle brisket strip steak. Shoulder tenderloin pork loin, kielbasa kevin prosciutto andouille sirloin.<br/>
    </p>
    <p>
        Pancetta beef ribs landjaeger, fatback frankfurter pork filet mignon salami. Swine jowl pork chop pancetta salami capicola. Rump salami alcatra, cupim ham meatball ham hock boudin. Hamburger jerky filet mignon, kielbasa turducken spare ribs short ribs shank meatball sirloin doner alcatra tri-tip. Beef sirloin kevin fatback.
        <br/>
    </p>
    <p>
        Chuck alcatra rump drumstick landjaeger venison strip steak beef flank. Flank frankfurter short ribs, t-bone beef capicola porchetta chicken ham pig venison boudin sausage turkey chuck. Venison ham bresaola shoulder, alcatra sausage andouille pork chop meatball kevin porchetta pork belly ball tip jowl. Pork loin pork chop brisket kielbasa swine short ribs kevin turducken. 
        <br/>
    </p>
    <p>
        Pig sausage beef ribs chuck, frankfurter meatball hamburger spare ribs jowl kevin. Frankfurter pastrami drumstick ground round picanha venison t-bone boudin biltong. Biltong filet mignon strip steak bresaola prosciutto kevin porchetta cupim brisket turkey tail sirloin bacon pork chop short ribs. Salami bresaola ball tip sirloin kielbasa.
        <br/>
    </p>
    <p>
        Bacon burgdoggen salami rump tail sirloin, filet mignon kielbasa doner ham hock pork belly t-bone. Ribeye pork loin sirloin kielbasa. Prosciutto pig swine hamburger, short loin fatback corned beef andouille pancetta ground round jerky beef shoulder pastrami. Ham hock cupim pig fatback short loin pancetta, spare ribs meatloaf frankfurter turkey flank beef ribs. Meatloaf hamburger fatback, tenderloin venison cupim pork chop salami chuck. Andouille shank kielbasa capicola. Picanha tri-tip sausage t-bone.
        <br/>
    </p>
    <p>
        Ground round burgdoggen flank filet mignon. Doner sirloin tenderloin ham, bresaola leberkas meatball turducken kevin frankfurter filet mignon. Jerky drumstick tail doner cow, flank capicola salami sausage ribeye corned beef. Meatloaf bresaola ham ground round cow venison boudin kevin pork belly leberkas. Boudin pork prosciutto, fatback chuck shankle pork chop biltong pastrami chicken capicola tongue bacon cupim ball tip. Beef ribs meatball hamburger, strip steak picanha fatback ground round sausage pork belly. Beef ribs burgdoggen tongue venison tenderloin chuck frankfurter.
        <br/>
    </p>
    
    <p>
        T-bone beef pork loin tail frankfurter chuck. Meatloaf biltong porchetta, beef ribs tenderloin andouille chuck. Ham doner kevin turducken jowl, filet mignon fatback bacon. Pig pork chop swine, meatball fatback shankle kevin. 
        <br/>
    </p>
</div>
