@{
    ViewBag.Title = "Get in Touch With Us";
}
<h2 id="contact-heading">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3" id="nathan-contact-info">
        <h2 id="contact-titles">P.M.</h2>
        <h5 id="student-name">Nathan Rice</h5>
        <p>Phone: 812-821-7319</p><br/>
        <p>Email: nathanieljrice@gmail.com</p><br/>
        <p>GitHub: <a href="https://github.com/nathanjrice" target="_blank">Nathan J Rice</a></p>
    </div>
    <div class="col-md-3" id="adam-contact-info">
        <h2 id="contact-titles">C.M.</h2>
        <h5 id="student-name">Adam Demaree</h5>
        <p>Phone: 480-518-2631</p><br />
        <p>Email: demareeadam1@gmail.com</p><br />
        <p>GitHub: <a href="https://github.com/addemaree" target="_blank">Adam Demaree</a></p>
    </div> 
    <div class="col-md-3" id="shelby-contact-info">
        <h2 id="contact-titles">Tester</h2>
        <h5 id="student-name">Shelby Grice</h5>
        <p>Phone: 317-319-6607</p><br />
        <p>Email: shelbygrice25@gmail.com</p><br />
        <p>GitHub: <a href="http://github.com/shelbygrice" target="_blank">Shelby Grice</a></p>
    </div>

</div>