@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="jumbo-heading">SAN's Market List</h1>
</div>

<h2 id="home-subheading">What We Do</h2>

<div class="row">
    <div class="col-md-3" id="col-1">
        <h2 class="home-div-heading">Organize</h2>
        <p id="home-text">
           Tired of trying to remember what you need? SAN's Market List is an application that helps you organize your grocery needs, while also allowing you to take notes on those lists. Register now and start making your life easier!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class ="btn btn-default" })</p>
    </div>
    <div class="col-md-3" id="col-2">
        <h2 class="home-div-heading">Simple</h2>
        <p id="home-text">SAN's is a free application that allows the customer to remember what they need in a simple way! Got a budget to stay in? With SAN's, you can make sure you remember the brand that keeps you within your budget by taking notes.</p>
        <p>@Html.ActionLink("Create a List", "Index", "ShoppingList", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3" id="col-3">
        <h2 class="home-div-heading">Prioritize</h2>
        <p id="home-text">When you use SAN's you can create, edit, delete, or check off any list, or list items.<br/> In addition to all of that, you can also enjoy the ability to prioritize those lists to make sure you get the important things first!</p>
        <p>@Html.ActionLink("Prioritize your items", "Index", "ShoppingList", null, new { @class = "btn btn-default" })</p>
    </div>
</div>