@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="jumbo-heading">SAN's Market List</h1>
</div>

<h2 id="home-subheading">What We Do</h2>

<div class="row">
    <div class="col-md-3" id="col-1">
        <h2 class="home-div-heading">Organize</h2>
        <p>
           Tired of trying to remember what you need? SAN's Market List is an application that helps you organize your grocery needs. Register now and start making your life easier!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
    </div>
    <div class="col-md-3" id="col-2">
        <h2 class="home-div-heading">Simple</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3" id="col-3">
        <h2 class="home-div-heading">Prioritize</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>